/Practica1_2/dist/
/Practica1_2/build/
/Practica1_Monitor/dist/
/Practica1_Monitor/build/
/Practica1_Threads/build/
/Practica1_Threads/dist/
/Practica2_pipes/build/
/Practica2_pipes/dist/
/Practica2_Colas/build/
/Practica2_Colas/dist/
